*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
}
.grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.logo {
    min-width: 200px;
    width: 300px;
    height: auto;
    
    display:flex;
}
header {
    
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-around;



    width: 100%;
    display:flex;
}

h2 {
    
    padding: 15px;
    text-transform: uppercase;
    
}
button {
    border-color: #ffffff;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    
    
    
    color: #1b5042;
    font-weight: normal;
    
    
    
    }
    
    button:hover {
    font-weight: normal;
    
    background-color: white;
    color: #af947d;
    
    text-shadow: 2px 2px 4px #ffffff;
    transition: transform 0.25s;
    
}
.telephone-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 15%;
    height: 100%;
}
.telephone {
    
    width: 300px;
    height: auto;
    

    
    
    
}
.info {
    padding: 100px;
    width: 100%;
}
.info-2 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin: 20px;
    font-weight:normal;
    font-weight: bold;
    color: #2e6f5e;
}
.info-1 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    margin: 20px;
    font-weight:normal;
    color: #ec2e1e;
}
.adress-main {
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}
.adress {
    margin-top: 40px;
    color: #2a5b50;
    padding: 30px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.plan-container {
    display: flex;
    justify-content: center;
}
.plan {
   height: auto;
   width: 450px; 
   max-width: 500px;
   min-width: 250px;
}
    

.co {
    color:#ec2e1e;
    text-align: center;
    font-size: 30px;
    margin: 100px;
    font-size: 25px;
    
    justify-content: center;
    align-items: center
    

}
h6 {
    text-align: center;
    margin-top: 40%;
    font-size: 30px;
    color:#2e6f5e;
}
p {
    color:#ec2e1e;
    font-size: 20px;
}
.col{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    z-index: 1;
    display: flex;
    position: relative;
    
    width: 100%;
}
.card {
    
    left: auto;
    width: 300px;
    height: 250px;
    position: relative;
    top: 30px;
    
    display: inline-block;
    border-radius: 10px;
    
    box-sizing: border-box;
    cursor: pointer;
   
    
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    text-align: center;
    
    
}
.card2{
    text-align: center;
    background-image: url(small.jpeg);
    
}
.card3{
    text-align: center;
    background-image: url(bigger.jpeg);
    
}
.card4{
    text-align: center;
    background-image: url(thebiggest.jpeg);
    
}

.card:hover{
    transform: translateY(-10px);
}
img {
    width: 300px;
    height: 200px;
}
.map {
    width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 420px)  {
    .telephone-container{
        margin: 0 auto;
    }
    header {
        justify-content:center;
        margin: auto;
        flex-wrap: wrap;
        
        width: 100%;
    }
    .map {
        width: 300;
        height: 400;
    }
    .co {
        margin: 0 auto;
    }
    .info-2 {
        font-size: 40px;
    }


}
@media only screen and (min-width: 421px) and (max-width: 610px) {
    header {
        justify-content:center;
        margin: auto;
        flex-wrap: wrap;
        
        width: 100%;
    }
}
@media only screen and (min-width: 611px) and (max-width: 684px) {
    .card {
        width: 305px;
        height: 263px;
    }
    h2 {
        font-size: 15px;
    }
    .logo {
        min-width: 50px;
        width: 150px;
    }
    .telephone-container {
        margin: 0px;
    }

}
@media only screen and (min-width: 685px) and (max-width: 899px) {
    .telephone-container {
        margin: 0px;
    }
    .logo {
        min-width: 50px;
        width: 150px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1136px) {
    .card {
        width: 379px;
        height: 336px;
    }
    h6 {
        font-size: 50px;

    }
    p {
        font-size: 40px;

    }
    .telephone-container {
        margin: 0px;
    }
}
@media only screen and (min-width: 1137px) and (max-width: 1451px) {
    .card {
        width: 484px;
        height: 413px;
    }
    h6 {
        font-size: 50px;

    }
    p {
        font-size: 40px;

    }
    .telephone-container {
        margin: 0px;
    }
}
@media only screen and (min-width: 1452px) and (max-width: 1811px) {
    .card {
        width: 604px;
        height: 516px;
    }
    h6 {
        font-size: 50px;

    }
    p {
        font-size: 40px;

    }
}
@media only screen and (min-width: 1812px) and (max-width: 2300px) {
    .card {
        width: 759px;
        height: 633px;
    }
    h6 {
        font-size: 50px;

    }
    p {
        font-size: 40px;

    }
}
